<h1>Добро пожаловать!</h1>
<%= link_to "Зарегистрироваться!", signup_path, class: "btn btn-large btn-primary" %>
<br>
<br>

<%= link_to "Фильмы ->", controller: "movies" %>
<%= link_to "Пользователи ->", controller: "users" %>


